@import '../scss/pallete-generator.scss';
@import '../scss/confiq.scss';

.my-button {
    cursor: pointer;
    border: none;
   // color: white;
    padding: $testing-padding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;

    .my-button__txt {
        padding: 0;
        margin: 0;
    }
}

.my-button--small {
    font-size: $font-size-S;
}

.my-button--normal {
    font-size: $font-size-N;
}

.my-button--large {
    font-size: $font-size-L;
}

.my-button--round-corners {
    border-radius: 5px;
}

.my-button--primary {
    background-color: $c-primary-500;
    color: $c-neutral-500;
}
.my-button--primary:hover {
    background-color: $c-primary-700;
}
.my-button--primary:active {
    background-color: $c-primary-800;
}

.my-button--secondary {
    background-color: $c-secondary-500;
    color: $c-neutral-500;
}
.my-button--secondary:hover {
    background-color: $c-secondary-700;
}
.my-button--secondary:active {
    background-color: $c-secondary-800;
}