@import '../scss/pallete-generator.scss';
@import '../scss/confiq.scss';

.my-radio-button {

    display: flex;

    .my-radio-button__item {
        pointer-events: none; 
        display: flex;
        padding: $testing-padding;
        justify-content: center;
        align-items: center;
        .my-radio-button__item__toggle {
            pointer-events: auto; 
            cursor: pointer;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid $c-background-800;
            background-color: $c-background-500;
            width: 1rem;
            height: 1rem;
        }
    }
}

.my-radio-button--large {
    .my-radio-button__item {
         .my-radio-button__item__toggle {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.my-radio-button--small {
    .my-radio-button__item {
         .my-radio-button__item__toggle {
            width: .8rem;
            height: .8rem;
        }
    }
}

.my-radio-button--primary {

    .my-radio-button__item {
        .my-radio-button__item__toggle {
            border: 1px solid $c-background-800;
            background-color: $c-background-500;
        }
    }
    .my-radio-button__item--checked {
        .my-radio-button__item__toggle {
            border: 1px solid $c-neutral-var-800;
            background-color: $c-neutral-var-500;
        }
    }

}

.my-radio-button--secondary {

    .my-radio-button__item {
        .my-radio-button__item__toggle {
            border: 1px solid $c-neutral-var-800;
            background-color: $c-neutral-var-500;
        }
    }  
    .my-radio-button__item--checked {
        .my-radio-button__item__toggle {
            border: 1px solid $c-background-800;
            background-color: $c-background-500;
        }
    }
}