$c-primary: #C37956;
$c-primary-var: #C1503D;

$c-secondary: #6eb8bb;
$c-secondary-var: #4A989A;

$c-neutral: #333131;
$c-neutral-var: #9A989A;

$c-background: #F3F6F4;

$c-error: red;
$c-warning: yellow;
$c-info: gray;
